body{
    background-image: linear-gradient(to right, #7258cb ,#2674fb);
}

 h1{
     text-align: center;
      font-family: sans-serif;
      color: whitesmoke;
      
 }
 .contaner{
    margin:auto;
    width: 360px;
    padding: 8% 0 0;
}
.form{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 370px;
    margin: 0 auto 100px;
    padding: 1px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input{
    width:350px;
    height: 50px;
    border: none;


}